html {
}
.wrapper {
	background-color: #fff;
	margin: 0 auto;
	width: 80%;
}
body {
/*	background-color: #fef2ee;*/
	/* font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif; */
}
header {
	background-color: #fff;
	padding-top:20px;
}
.main-header {
}
.main-nav {
/*	background-color: #fe9678;*/
    background-color: #fef2ee;
	color: #2b2b2b;
}
#blue-button {
	background-color: #07889b;
    margin-right: 10px;
	margin-top: 12px;
	text-shadow: none;
    width: 130px;
}
#blue-button:hover {
    font-size: 1.1em;
}
.entry {
	padding: 15px;
    border: 5px solid #fef2ee;
    border-radius: 5px;
}
footer {
	background-color: #fef2ee;
}
footer p {
	color: #2b2b2b;
	padding: 10px;
}
footer .btn {
	margin-bottom: 5px;
	margin-right: 10px;
}